-----BEGIN PGP PRIVATE KEY BLOCK-----
Version: Keybase OpenPGP v2.0.76
Comment: https://keybase.io/crypto

xcFGBGJS2lkBBACoA5cDef8PSWQuZ6GNltatowXFkgJ0W0ifZzUV9ifpLIK2luS4
F1utO2+b8ry6EZPVhSTRagmcYjmzmEDfhYiyezYOblS9NX8jPCBsN+zOldZhh8+c
J5AD7lZNC9yOPdIfgZ6UGfoBHixiGBXhw8oJFtbGVCDsoeaw2dneqt4GRwARAQAB
/gkDCLcMZu85VhffYIvILiQ3R9nuxPTyBlgMjNNOPWZB5sCxDaK2jBvL13VM49ZB
yBXzw+4d6iwhG72uKTjulBOFhLgcBFFtthoGgd9Mar0KrEetLrezGrxtf1Ym4QlB
xhkBDeeudoiwaybSrKCoy41JOdLWp7DrnZ1paMyayubi8Bi2xvcFi98d8NADw5Z/
Dl7dKPtl5UxbfjT0Sduwy+KgTUbopbj+2uW7wu2yyBFNSkUL+2dQaHPR359UbFgt
AdqANoOtWgX9FBNRn7QnPzusuXcbHMXUO/BosNtJmuCKbvkTqsHmll5JwhdZSW9j
WzLZXoM461rBdmTux3pnS3ZGv8OmMv8oiyWOAOdMkcXYbeNnrIRxj5d+GVAKyz0o
ivGImgbbGC4jGbSJOCdbIHfnHBSt43X2L8t9Tn/Mz3IJKyL1JG8AtIOZKO0IZbtx
44W1d59ic+XKU5Ky+k2ERfhZTktnoY8ViC+RpotDgoN6Y8T9wdLMSvjNHkdpIDxn
cmVzc2EuaXNzbWFpbGlAZ21haWwuY29tPsK6BBMBCgAkBQJiUtpZAhsvAwsJBwMV
CggCHgECF4ADFgIBAhkBBQkB4TOAAAoJECKRNWKyEbNNixEEAILpivBOtVfASUW7
CZpqxCa5QVTAyyq0K8s68/0AFi3xtA+n5yO+EMRlsVuhjGTrIcJMs6Hk4MzP4Ohk
y4Vs3XTQkMMKX0612zDZo3WWtgXLIoVTJEFTW+nX6uF6ryKu2egxj3QlcicA0UjO
a89vq1ia17KJjigmtOK0BKv9KDVex8FGBGJS2lkBBADF9NFTjFPoszT2qFik0Gog
kM2PA47ue2r70chfyymW+gkQWKNQteD3olHg9JOdAHN3vfU00b2ey2y0HFbCmnCg
rHk1u/fPhxN+FPCcf12MygnciSePl/mG72FryKPqgGZouNtX+HY+B1UG9dm8Qm1+
zRa3IxbO/EJ7OCtylsimiQARAQAB/gkDCMdoLDbTxyDTYCoY9ACQgXiReOb2ucAR
NkCh11nFjxMcPXMbaS19hY4lWBGB580NmCUGA9xPumMUawQDIOJ7ecJaqrHvY6io
1ULHXOizBOP7CyMy4Y2MzINq+Waw+CBhW2KreKPUu5ctiAqfE2SxLhCgv33+Wl/L
WgUdsKAEjoNxySbk0kDKzqveZvzq8TbR08t0gBI0j+cQGpMnTvTZ1IjJRqy5PsOn
pL5wSBMAtbBsyM76vllUj1v0DIpDeCrIVGxRCu6COngIDoiqfnhv6cLQsGcJh85L
zf47VmR33PVXeSYIBqx4A2kw5K5B/uklzRJ6uOfDBOR0m+M8oZOLx02Jn7aoWlFa
Phn0SRBYQt+FUdWXOkLM613/0swj5ehOkKpIuJmc0A68bYqO8AqPEvNFffErQvs9
yjvkMxMVQyvG6Vo1ITygavo3GweJMoeO1wQh+uZFvrXp0A9WdzY/BXdr61WEz4Fj
8+Ra+uD/pMe/3j+BQZDCwIMEGAEKAA8FAmJS2lkFCQHhM4ACGy4AqAkQIpE1YrIR
s02dIAQZAQoABgUCYlLaWQAKCRBWFTjslQC3PDIEA/9mdkXqdP9+au48oiPrnKi5
HMFJRJ2DpG3B8/OrgRbkoVfK+z9d13kbhY5fR4schk9abdon+K1muneOT1moAe1C
hd1AufB6qC3r+nh/xJ8w0rm7JpHbTV6rIkqv22Au9OEvg63w8rLl2QmyFbvkTHMA
6G1dPdUNynsj4iBdYpfZekKlA/9i0LaXya+ROMjaz44acrqZ5BloiObw9UWrdSGr
pp/kyxZrtWlSZ+X+ZhzOwTiNXxjvuYKfDMYbAp2Zu5yJDFe2U5gNBTB9xQZ6r/07
gNjv2AiZpalhD9whz0soOvMCw/hqz99bul2wBLu8l4Lq0rsILLXI6FnEPCFKM5Rt
k+MWJcfBRgRiUtpZAQQAzjzUvxzG53LHz3XRN4jSKjuI7X+F4e28cLWZSlBJwSYB
SEqNEt9bZebuSBcHcIhj8Mu36hcGtJnmR3Gxzm1WDhLLKRw5AdgYbLBsl6tU/gK/
QwcL0Uqk0SBk1w4Vb9JqA5fqyOwlpUAFhE9l/HRT4B8d9aTl73p1rshfWKiGkM8A
EQEAAf4JAwiTy9xsvn36s2A2bMLugxcnvoZVleXCTXrWjy8ZufuH1+Or4HOQQLMj
W+4VZHERlXi9tY5JfHORdcQHJJvbx1n9x61UFHe6O70Iv04vNpVg9UBjLn7TvaR3
yePsxWUP4lCFpV47vdpztgkvkGKhbi4Bh7hcWgdRS/78hcIKe+ZphSp/lrhKFCUC
qjYap0Pq5TwZBll2yYXCWYvKZjPNvQS2cS3GLggAHe0CCz6IBf4McoolJybms5vi
6OvX3sL8KFrZuEnxP3go+j3bIIQREAhtmJxAaU8Ige/r5YqMGsm7FoSuR/+cffHd
Fd+3nln5cwhGJbgc/8DUQVxD+b82UPHorAVs77uGOG51O5vDC0kmYlPZpXkhXM+C
f3EYc7KkTLaEJU/OHotBfN64LgM7QQEzBwHg9IvBoCHlCqNsznto0bGvendMUUSk
AGdhXfvDNWlZugntaRIO85FwlsFUV8LbIigH1ivNHZAit04ZNR2rprQauRpMwsCD
BBgBCgAPBQJiUtpZBQkB4TOAAhsuAKgJECKRNWKyEbNNnSAEGQEKAAYFAmJS2lkA
CgkQasFnKUMgiO8jMgP/avqGssvef5DBj67ASRcN0sPaYbLRFfEfL6xq2rtdCdbM
0d+r+hD0a5WB3Wg2Q4L5lW0/n0HswkpYO/wr2mrIKZ03ghqlNWuCSAJxL94grEHU
5clTQJ2xk4JJ0Oykk7gPAWZmBET4QSz/Q6L4Y10JwVH+Vv0VqBHva8GH8glerDD9
PwP+MldNYtb5M2K31zcZVdz3lhXw43unEHOuvRoNxTZdf16MpsiWe7dd5jIkTh8O
u7ZXgRCeWH3XmEIdOXBDm0xqR8r5m5My3zU/4Km8rh+VJ5iXcW97O2UNHxzILTkV
40Bfdg4IQdCy6GyY33j01bzuhVs5vDGj/X8f6kOdIVMR068=
=JLxS
-----END PGP PRIVATE KEY BLOCK-----
